.newsletter {
    width: 65%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 140px;
    margin: auto auto 150px;
    gap : 20px;
    background: linear-gradient(180deg, #60c6f8 0%, #90d2f6 100%);
}

.newsletter h1 {
    font-size: 50px;
    font-weight: 600;
    color: #454545;
}
.newsletter p {
    font-size: 20px;
    color: #454545;
}
.newsletter-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
    width: 730px;
    border-radius: 40px;
    border: 1px solid #ffffff;
    background: #ffffff;
}
.newsletter input {
    width: 500px;
    margin-left: 30px;
    border: none;
    outline: none;
    font-size: 16px;
}
.newsletter button {
    width: 210px;
    height: 70px;
    font-size: 16px;
    background: #0e0e0e;
    color: white;
    border-radius: 40px;
    border: none;
}