.login-signup {
    width: 100%;
    height: 100vh;
    background: #fce3fe;
    padding-top: 100px;
}

.login-signup-container {
    width: 580px;
    background: white;
    margin: auto;
    padding: 40px 60px;
}
.login-signup-container h1 {
    font-size: 30px;
    font-weight: 600;
    margin: 20px 0;
}
.login-signup-fields {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}
.login-signup-fields input {
    padding: 15px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 18px;
}
.login-signup-container button {
    padding: 15px;
    border: none;
    outline: none;
    background: #f3621f;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
}
.login-signup-login{
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 16px;
    font-weight: 500;
}
.login-signup-login span{
    color: #f3621f;
    font-weight: 600;
    cursor: pointer;
}
.login-signup-agree{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 25px;
    color: #5c5c5c;
    font-size: 16px;
    font-weight: 500;
}